<h1 class="text-center text-primary display-2">The Memphis Zoo</h1>

<p class="text-center h2 my-4 text-secondary">
  Meet Our Animals:
  Zoo Directory
</p>

<%= image_tag 'zoo_map.jpeg', class: 'w-100 shadow-lg d-block mx-auto my-4', style: 'max-width: 64rem;' %>
